<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="signup.css" rel="stylesheet">
    <script defer src="signup.js"></script>
</head>

<body>
    <div class="form">
        <div class="field loginFiled">
            <label for="login">
                <div class="labelText">login</div>
                <input id="login" type="" name="login" value="">
            </label>
        </div>
        <div class="radioInputs" id="radioInputs">
            <div>
                <label for="waiter">waiter</label>
                <input class="radio" id="waiter" type="radio" name="selectRole" value="w" checked />
            </div>
            <div>
                <label for="admin">admin</label>
                <input class="radio" id="admin" type="radio" name="selectRole" value="a" />
            </div>
        </div>
        <div class="field passwordFiled">
            <label for="password">password</label>
            <input id="password" type="password" name="password" value="">
        </div>
        <div class="field repeatPasswordField">
            <label for="repeatPassword">repeat password</label>
            <input id="repeatPassword" type="password" name="repeatPassword" value="">
        </div>
        <div class="signInCallText">
            Already have an account? <a id='signInButton' href="">Sign In</a>
        </div>
        <div class="submitButton">
            <button id="signUpButton">Sign Up</button>
        </div>
    </div>
</body>

</html>
