<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="signup.css" rel="stylesheet">
    <script defer src="signin.js"></script>
</head>

<body>
    <div class="form">
        <div class="field">
            <label for="login">
                <div class="labelText">login</div>
            </label>
            <input type="" id="loginField" name="login" value="">
        </div>
        <div class="field passwordFiled">
            <label for="password">password</label>
            <input id="password" type="password" name="password" value="">
        </div>
        <div class="signInCallText">
            New to our game? <a id='signUpReference' href="">Create an account</a>
        </div>
        <div class="submitButton">
            <button id="signInButton">Sign In</button>
        </div>
    </div>
</body>

</html>
