.short_vacancy_header>* {
  display: flex;
  flex-direction: row;
}

.app {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
}

main {
  height: 100vh;
}

.vacancy_list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
}

.short_vacancy {
  margin: 10px;
  border: 4px solid grey;
  padding: 15px;
}

.short_vacancy__header{
  display: flex;
  justify-content: space-between;
}

.applied_field{
  color: lightgreen;
}

