{{define "header"}}

    <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> {{ .title }} </a>
            <div>
                <button type="button" class="btn btn-dark" onclick="openTools()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-tools" viewBox="0 0 16 16">
                        <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                    </svg>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample01"
                        aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarsExample01">
                <ul class="navbar-nav me-auto mb-2">
                    <li class="nav-item">
                        <a class="nav-link {{if eq .title "Морской бой"}}active disabled{{end}}" aria-current="page"
                           href="/">Игра</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{if eq .title "Статистика"}}active disabled{{end}}" href="/myStats">Статистика</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{if eq .title "Таблица лидеров"}}active disabled{{end}}"
                           href="/bestPlayers">Лучшие игроки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script>
        function openTools() {
            const banner = document.getElementById('banner');
            const classList = banner.classList;

            if (classList.contains("invisible")) {
                classList.remove("invisible");
            } else {
                classList.add("invisible");
            }
        }
    </script>

{{end}}

{{define "banner"}}
    <style>


        #banner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            max-width: 600px;
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border: 1px solid #3498db;
            color: #3498db;
            background-color: #fff;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        .button:hover {
            background-color: #3498db;
            color: #fff;
        }

    </style>

    <div id="banner" class="invisible">
        <button class="button" onclick="handleButtonClick(1)">Убить 1п</button>
        <button class="button" onclick="handleButtonClick(2)">Убить 2п</button>
        <button class="button" onclick="handleButtonClick(3)">Убить 3п</button>
        <br>
        <button class="button" onclick="handleButtonClick(4)">Убить 4п</button>
        <button class="button" onclick="handleButtonClick(5)">Выиграть</button>
        <button class="button" onclick="handleButtonClick(6)">Проиграть</button>
    </div>

    <script src="/js/actions.js"></script>

{{end}}

