{{define "menu"}}
    <nav class="menu">
        <a href="/" class="menu-button button-game">
            <img src="images/game.svg" alt="game-icon">
            Game
        </a>
        <a href="/" class="menu-button button-stats">
            <img src="images/stats.svg" alt="stats-icon">
            Stats
        </a>
        <a href="/bestPlayers" class="menu-button button-leaderboard">
            <img src="images/leaderboard.svg" alt="leaderboard-icon">
            Best players
        </a>
        <a href="/logout" class="menu-button button-logout">
            <img src="images/logout.svg" alt="logout-icon">
            Logout
        </a>
    </nav>

{{end}}

